<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>ReactCanvas: Timeline</title>
  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
      font: 16px Helvetica, sans-serif;
      height: 100%;
      overflow: hidden;
      background: #ddd;
    }

    #main {
      background: #fff;
      position: relative;
      height: 100%;
      max-width: 420px;
      max-height: 700px;
    }
  </style>
  <!-- <link rel="stylesheet" type="text/css" href="styles/style.css"> -->
  <script src="/static/build/touch-emulator.js"></script>
  <script type="text/javascript">
    TouchEmulator();
  </script>
</head>
<body>
  <div id="app"></div>
  <script src="/static/build/mobile.js"></script>
</body>
</html>
