<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  .container.header {
    background: #f3f3f3;
  }
  .body-border {
    border-top: 8px solid #663399;
  }
</style>

<container class="header">
  <row>
    <columns>
      <center>
        <h1 class="text-center">Welcome to Labadipost</h1>
      </center>

      <center>
        <menu class="text-center">
          <a href="http://labadipost.com/cover-stories">Cover Stories</a>
          <a href="http://labadipost.com/news">News</a>
        </menu>
      </center>

    </columns>
  </row>
</container>

<container class="body-border">
  <row>
    <columns>

      <spacer size="32"></spacer>

      <center>
        <img src="http://placehold.it/200x200">
      </center>

      <spacer size="16"></spacer>

      <center>
        <h4>Get updated with a curated collection of relevant news updates.</h4>
        <p>Click on this link to activate your account - <a href="{{.Link}}">Activate account</a></p>
      </center>

      <center>
        <menu>
          <item href="http://labadipost.com">Contact</item>
          <item href="#">+233545385122</item>
        </menu>
      </center>

    </columns>
  </row>

  <spacer size="16"></spacer>
</container>