.button,
.button .svgIcon {
    transition: .1s background-color, .1s border-color, .1s color, .1s fill;
}

.button {
    line-height: 35px;
    outline: none;
}

.button {
    display: inline-block;
    position: relative;
    height: 37px;
    padding: 0 16px;
    color: rgba(0, 0, 0, .44);
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .15);
    vertical-align: bottom;
    white-space: nowrap;
    text-rendering: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-radius: 999em;
    font-family: $font-family--primary;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

.button--primary,
.button--primary .label,
.button--primary.button--link {
    color: $color-primary!important;
}

.button--link{
  &:hover, &:focus {
    text-decoration: underline;
  }
}

.button--primary {
    border-color: $color-primary;
}

.buttonSet {
    .button--chromeless {
        height: 37px;
        line-height: 35px;
        &:not(.button--circle) {
            margin-right: 0;
            padding-right: 8px;
        }
    }
    & > .button,
    .buttonSet-inner >.button {
        margin-right: 8px;
        vertical-align: middle;
    }
    &>.button--chromeless+.button,
    &>.buttonSet-inner+.button--chromeless,
    &>.buttonSet-separator+.button {
        margin-left: 8px;
    }
    &>.button--chromeless+.button--chromeless:not(.button--circle) {
        margin-left: 0;
        padding-left: 8px;
    }
    .button--large {
        &.button--chromeless,
        &.button--link {
            height: 44px;
            line-height: 42px;
        }
    }
}

.button--chromeless,
.button--link {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    line-height: inherit;
    border-width: 0;
    padding: 0;
    vertical-align: baseline;
    color: rgba(0, 0, 0, .44);
    white-space: normal;
    text-align: left;
}

.button--close {
    font-size: 32px;
    font-family: -$font-family--primary;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

@include media('<=768px') {
    .button {
        height: 33px;
        line-height: 32px;
        font-size: 14px;
        padding: 0 14px;
    }
    .button--chromeless {
        line-height: inherit;
        vertical-align: baseline;
        height: auto;
        padding: 0;
    }
    .siteNav-logo {
        padding-top: 5px;
        padding-left: 12px;
    }
    .buttonSet {
        &>.button {
            margin-right: 4px;
        }
    }
    .metabar {
        .buttonSet {
            margin-top: 9px;
            line-height: 33px;
        }
    }
    &.is-inSiteNavBar {
        margin-right: 10px;
    }
    .button--close {
        top: 0;
        right: 15px;
        font-size: 32px;
    }
}
