.l-borderBottomThinLight {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

.l-marginAuto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.l-maxWidth1000 {
    max-width: 1000px!important;
}

.l-paddingRight20 {
    padding-right: 20px!important;
}

.l-paddingLeft20 {
    padding-left: 20px!important;
}

.l-height65 {
    height: 65px!important;
}

.l-floatLeft {
    float: left!important;
}

.l-floatRight {
    float: right!important;
}

.l-lineHeight30 {
    line-height: 30px!important;
}

.l-height32 {
    height: 32px!important;
}

.l-inlineBlock {
    display: inline-block!important;
}

.l-marginTop15 {
    margin-top: 15px!important;
}

.l-block {
    display: block!important;
}

.l-noWrap {
    white-space: nowrap!important;
}

.l-textAlignLeft {
    text-align: left!important;
}

.l-borderTopLight {
    border-top: 1px solid rgba(0, 0, 0, .05)!important;
}

.l-paddingTop4 {
    padding-top: 4px!important;
}

.l-overflowX {
    overflow-x: auto!important;
    overflow-y: hidden!important;
    -webkit-overflow-scrolling: touch!important;
    -ms-overflow-style: -ms-autohiding-scrollbar!important;
}

.l-fontSizeSmaller {
    font-size: 14px!important;
}

.l-textColorNormal {
    color: rgba(0, 0, 0, .44)!important;
    fill: rgba(0, 0, 0, .44)!important;
}

@include media('<=767px') {
    .l-xs-height56 {
        height: 56px!important;
    }
    .l-xs-absolute {
        position: absolute!important;
    }
    .l-xs-textAlignRight {
        text-align: right!important;
    }
    .l-xs-right0 {
        right: 0!important;
    }
    .l-xs-marginRight20 {
        margin-right: 20px!important;
    }
    .l-xs-paddingRight20 {
        padding-right: 20px!important;
    }
    .l-xs-paddingLeft20 {
        padding-left: 20px!important;
    }
    .l-xs-paddingTop0 {
        padding-top: 0!important;
    }
    .l-xs-paddingRight12 {
        padding-right: 12px!important;
    }
    .l-xs-marginRight0 {
        margin-right: 0!important;
    }
}

.link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.link--darker {
    color: rgba(0, 0, 0, .8);
}
